/* Variables */
:root {
    --colorfondo: beige;
    --colorClaro: lightsalmon;
    --colorEnfasis: green;
    --tipografia: 'Arial Narrow', Arial, sans-serif;
}

/* condiciones iniciales */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--colorfondo);
    font-family: var(--tipografia);
    font-size: 25px;
    overflow-x: hidden;
}

/*HEADER*/
header {
    width: 100vw;
    height: auto;
}

.titulo {
    height: 150px;
    width: 100%;
    background-color: var(--colorEnfasis);
    display: grid;
    place-content: center;
    color: var(--colorfondo);
    transition: all 500ms ease-in-out;

}

.titulo:active{
    background-color: brown;
    color: chartreuse;
    transform: scale(1.2);
}

.contenedor-slider {
    border: solid 5px var(--colorEnfasis);
    width: 75%;
    height: 65vh;
    /* Margin nos sirve para centrar solo contenedores */
    margin: 100px auto;
    overflow-x: hidden;

}

.slider {
    width: 100%;
    height: 100%;
    display: flex;
    /* Nombre que se conecta con el keyframe */
    animation-name: deslizar;
    /* tiempo de duracion de mi animacion */
    animation-duration: 10s;
    /* cuantas veces se repite la animacion */
    animation-iteration-count: infinite;
    /* forma en que queremos que se de el movimiento */
    animation-timing-function: ease-in-out;

    animation-direction: alternate;

}

/* vamos a poner a funcionar la animacion */

/* 0% -> 50% -> 100% 
from -> to*/

@keyframes deslizar {
    from {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(-150%);
    }

    to {
        transform: translateX(-300%);
    }

}

.contenedor-slider img {
    width: 100%;
    height: 100%;
}

/*MAIN*/
main{

    display: flex;
    justify-content: center;
}
.contenido{
    border: solid 5px var(--colorEnfasis);
    width: 75%;
    height: auto;
    margin-bottom: 100px;
}

.tituloSecundario{
    text-align: center;
    padding: 25px;
}
.imgParrafo{
    display: flex;
    gap: 45px;
    align-items: center;
    padding: 15px;
}

/* Yo puedo llamar varios elementos de mi html, a los que les voy a aplicar los mismos estilod, sólo separándolos por , */
/* .imgParrafo img, 
.imgParrafo p {
    width: 50%;
    height: 100%;
} */

.imgParrafo img{
    width: 50%;
}

.imgParrafo p{
    width: 50%;
}

/*FOOTER*/
footer {
    height: 150PX;
    width: 100%;
    background-color: var(--colorEnfasis);
    /* Alternativa para centrar un elemento */
    display: grid;
    /* Centra x y y */
    place-content: center;

}